.btn-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    color: transparent;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-image:focus,
.btn-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rock {
    background-image: url('images/rock.webp');
}

.paper {
    background-image: url('images/paper.webp');
}

.scissors {
    background-image: url('images/scissors.webp');
}
